@font-face {
  font-family: Shabnam;
  src: local("Shabnam FD"), local("tahoma"), url("fonts/shabnam/Shabnam-FD.eot");
  src: url("fonts/shabnam/Shabnam-FD.eot?#iefix") format("embedded-opentype"),
    url("fonts/shabnam/Shabnam-FD.woff2") format("woff2"),
    url("fonts/shabnam/Shabnam-FD.woff") format("woff"),
    url("fonts/shabnam/Shabnam-FD.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Shabnam;
  src: local("Shabnam Medium FD"), local("tahoma"),
    url("fonts/shabnam/Shabnam-Bold-FD.eot");
  src: url("fonts/shabnam/Shabnam-Bold-FD.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/shabnam/Shabnam-Bold-FD.woff2") format("woff2"),
    url("fonts/shabnam/Shabnam-Bold-FD.woff") format("woff"),
    url("fonts/shabnam/Shabnam-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
label,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: Shabnam;
}

a {
  text-decoration: none;
  color: #434e50;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 480px;
  height: 100%;
  background-color: #f2f2f2;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.content {
  height: calc(100% - 90px);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding: 15px;
}

.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.sort-box {
  position: fixed;
  bottom: 0;
  z-index: 20;
  width: 480px;
  padding: 0;
}

.sort-box .box,
.sort-box .opened {
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}

.sort-box .box {
  height: 0;
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.sort-box .opened {
  height: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sort-by {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 25px;
}

.sort-options {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sort-options button {
  padding: 20px;
}

.back {
  margin: 15px 15px 0 0;
}

.dark-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dark-overlay.opened {
  display: block;
}

.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.movie-item {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.movie-poster-container {
  width: 220px;
  height: 300px;
  position: relative;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .movie-poster-container {
    width: 100%;
    border-radius: 20px;
  }

  .movie-poster {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.movie-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  height: 35px;
}

.movie-rating {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
  margin-top: 0;
}

/* Global */
.pr-4 {
  padding-right: 8px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-sm {
  font-size: 0.9rem;
}

.text-gray {
  color: #8f8f8f;
}

.font-bold {
  font-weight: bold;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.radio-group {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.radio-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #607d8b;
  position: relative;
}

.radio-circle:before {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  background-color: #009688;
  border-radius: 100%;
}

.radio-label {
  cursor: pointer;
  color: black;
  padding-right: 8px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="radio"]:checked + .radio-circle:before {
  display: block;
}

.back-to-top {
  position: absolute;
  bottom: 15px;
  padding: 3px 4px;
  width: 28px;
  z-index: 10;
  background: #6e7072;
  color: #fff;
  margin-right: 15px;
  border-radius: 10px;
  line-height: 1;
}

/* loader */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
